<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="/assets/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/assets/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="/assets/js/morris-chart/morris.css">

  <!--common-->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="#"><img src="/assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="#"><img src="/assets/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="/assets/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="/admin-users"><i class="fa fa-home"></i> <span>用户信息管理</span></a></li>
                <li><a href="/admin-olds"><i class="fa fa-home"></i> <span>老人信息管理</span></a></li>
                <li><a href="/admin-daily"><i class="fa fa-home"></i> <span>日常记录管理</span></a></li>
                <li><a href="/admin-leave"><i class="fa fa-home"></i> <span>请假信息管理</span></a></li>
                <li><a href="/admin-bed"><i class="fa fa-home"></i> <span>床位分配管理</span></a></li>
                <li><a href="/admin-pay"><i class="fa fa-home"></i> <span>入住费用管理</span></a></li>
                <li><a href="/admin-nurses"><i class="fa fa-home"></i> <span>护工信息管理</span></a></li>
                <li><a href="/admin-message"><i class="fa fa-home"></i> <span>意见接收箱</span></a></li>
                <li><a href="/admin-main"><i class="fa fa-home"></i> <span>返回首页</span></a></li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >
        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->


            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/images/photos/user-avatar.png" alt="" />
                            <span th:text="${session.USER_SESSION.getName()}">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                欢迎使用养老院管理员系统！
            </h3>
            <ul class="breadcrumb">
                <p th:text="${msg}"/>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <!--statistics start-->
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel purple">
                                <a  color="#eee" href="admin-users">
                                <div class="symbol">
                                    <i class="fa fa-gavel"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">用户信息管理</div>
                                    <div class="title">管理用户信息</div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel red">
                                <a data-color="#eee" href="admin-message">
                                <div class="symbol">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">意见接收箱</div>
                                    <div class="title">在这里查看意见</div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel blue">
                                <a  color="#eee" href="admin-olds">
                                    <div class="symbol">
                                        <i class="fa fa-gavel"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">老人信息管理</div>
                                        <div class="title">修改老人信息</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel green">
                                <a data-color="#eee" href="admin-daily">
                                    <div class="symbol">
                                        <i class="fa fa-tags"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">日常记录管理</div>
                                        <div class="title">查看日常记录</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel purple">
                                <a  color="#eee" href="admin-leave">
                                    <div class="symbol">
                                        <i class="fa fa-gavel"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">请假信息管理</div>
                                        <div class="title">护工请假信息</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel red">
                                <a data-color="#eee" href="admin-bed">
                                    <div class="symbol">
                                        <i class="fa fa-tags"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">床位分配管理</div>
                                        <div class="title">在这里对床位进行管理</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel blue">
                                <a  color="#eee" href="admin-pay">
                                    <div class="symbol">
                                        <i class="fa fa-gavel"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">入住费用管理</div>
                                        <div class="title">管理入住的费用</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel green">
                                <a data-color="#eee" href="admin-nurses">
                                    <div class="symbol">
                                        <i class="fa fa-tags"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="value">护工信息管理</div>
                                        <div class="title">在这里管理护工的信息</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!--statistics end-->
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2022 &copy; yjy designed
        </footer>
        <!--footer section end-->

        </div>
    </div>
    <!-- main content end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-1.10.2.min.js"></script>
<script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/assets/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/assets/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/assets/js/sparkline/jquery.sparkline.js"></script>
<script src="/assets/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/assets/js/iCheck/jquery.icheck.js"></script>
<script src="/assets/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/assets/js/flot-chart/jquery.flot.js"></script>
<script src="/assets/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/assets/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/assets/js/morris-chart/morris.js"></script>
<script src="/assets/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/assets/js/calendar/clndr.js"></script>
<script src="/assets/js/calendar/evnt.calendar.init.js"></script>
<script src="/assets/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore./assets/js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/assets/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/assets/js/dashboard-chart-init.js"></script>


</body>
</html>
