<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="/assets/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/assets/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/assets/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="/assets/js/morris-chart/morris.css">

  <!--common-->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="#"><img src="/assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="#"><img src="/assets/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="/assets/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="/admin-users"><i class="fa fa-home"></i> <span>用户信息管理</span></a></li>
                <li><a href="/admin-olds"><i class="fa fa-home"></i> <span>老人信息管理</span></a></li>
                <li><a href="/admin-daily"><i class="fa fa-home"></i> <span>日常记录管理</span></a></li>
                <li><a href="/admin-leave"><i class="fa fa-home"></i> <span>请假信息管理</span></a></li>
                <li><a href="/admin-bed"><i class="fa fa-home"></i> <span>床位分配管理</span></a></li>
                <li><a href="/admin-pay"><i class="fa fa-home"></i> <span>入住费用管理</span></a></li>
                <li><a href="/admin-nurses"><i class="fa fa-home"></i> <span>护工信息管理</span></a></li>
                <li><a href="/admin-message"><i class="fa fa-home"></i> <span>意见接收箱</span></a></li>
                <li><a href="/admin-main"><i class="fa fa-home"></i> <span>返回首页</span></a></li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >
        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->


            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/images/photos/user-avatar.png" alt="" />
                            <span th:text="${session.USER_SESSION.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                修改床位信息
            </h3>
            <ul class="breadcrumb">
                <p th:text="${msg}"/>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        基本信息
                    </header>
                    <div class="panel-body">
                        <form role="form" class="form-horizontal adminex-form" action="/modify-nurse" method="post">
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">护工编号</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder=""  th:value="${nurseInfo.id}" id="id" name="id" readonly="readonly" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">护工名</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" th:value="${nurseInfo.name}" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">密码</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" th:value="${nurseInfo.password}" id="password" name="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">手机号</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" th:value="${nurseInfo.mobile}" id="mobile" name="mobile" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">邮箱</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" th:value="${nurseInfo.email}" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2022 &copy; yjy designed
        </footer>
        <!--footer section end-->

        </div>
    </div>
    <!-- main content end-->

</section>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-1.10.2.min.js"></script>
<script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/assets/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/assets/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/assets/js/sparkline/jquery.sparkline.js"></script>
<script src="/assets/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/assets/js/iCheck/jquery.icheck.js"></script>
<script src="/assets/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/assets/js/flot-chart/jquery.flot.js"></script>
<script src="/assets/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/assets/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/assets/js/morris-chart/morris.js"></script>
<script src="/assets/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/assets/js/calendar/clndr.js"></script>
<script src="/assets/js/calendar/evnt.calendar.init.js"></script>
<script src="/assets/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore./assets/js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/assets/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/assets/js/dashboard-chart-init.js"></script>


</body>
</html>
