<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjy.beadhouse.dao.TypeMapper">
    <update id="updateType">
        update tb_type set price = #{price} where id = #{id}
    </update>


    <select id="getAllType" resultType="com.yjy.beadhouse.entity.Type">
        select * from tb_type
    </select>
</mapper>